@{
    ViewData["Title"] = "Home";
    
}

<div class="text-center">
    <h1 class="display-4">Forum</h1>
    @Html.ActionLink("Search Forums", "Index", "Topic", null, new { @class = "btn btn-primary"})
    @Html.ActionLink("Search Users", "Index", "User", null, new { @class = "btn btn-primary"})
</div>
